.login-main-container {
    width: 100%;
    height: 480px;

    .error-message {
        font-size: 16px;
        color: var(--red);
        text-align: left;
        margin: 0;
    }

    .login-main-image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .login-components-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 22px;

        .profile-image {
            width: 60px;
            height: 60px;
        }

        .mobile-number-input {
            display: flex;

            .country-code {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                background: var(--gray-shade);
                border: 0;
                border-bottom: 1px solid var(--gray-shade-border);
                border-right: 1px solid var(--gray-shade-border);
                font-size: 16px;
            }

            .mobile-input {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 260px;
                height: 60px;
                background: var(--gray-shade);
                border: 0;
                border-bottom: 1px solid var(--gray-shade-border);
                font-size: 16px;
                outline: none;
                padding: 18px;
            }
        }

        .login-accept-terms {
            font-size: 16px;
            margin: 0;

            a {
                color: var(--blue);
                text-decoration: none;
                font-weight: 600;
            }
        }

        .get-otp {
            width: 150px;
            height: 60px;
            border: 1px solid var(--gray-shade-border);
            background: var(--blue);
            color: var(--white);
            border: none;
            outline: none;
        }
    }

    .handle-otp-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 22px;

        .profile-image {
            width: 60px;
            height: 60px;
        }

        .otpheading {
            font-size: 24px;
            font-weight: 600;
            margin: 0;
        }

        .otp-input-container {
            width: 50%;
            height: fit-content;
            background: none;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 16px;
            margin-bottom: 12px;
            flex-direction: column;

            input {
                width: 100%;
                height: 50px;
                min-height: 68px;
                background: var(--gray-shade);
                outline: none;
                border: 1px solid var(--gray-shade-border);
                z-index: 2;
                font-size: 28px;
                text-align: center;

                &:focus {
                    border: 1px solid var(--blue);
                }
            }
        }

        .submit-otp {
            width: 180px;
            height: 60px;
            border: none;
            outline: none;
            background: var(--blue);
            color: var(--white);
            font-size: 20px;
            border: 1px solid var(--gray-shade-border);
        }
    }
}

.profile-details-container {
    .profile-left-section {
        background: var(--gray-shade);
        width: 100%;
        height: fit-content;
        padding: 12px;
        padding-bottom: 0;

        .profile-menu {
            width: 100%;
            height: fit-content;
            padding: 12px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            margin-bottom: 12px;
            background: var(--white);
            border: 1px solid var(--gray-shade-border);
            cursor: pointer;

            &.active {
                border: 1px solid var(--primary-blue) !important;
                color: var(--primary-blue) !important;
            }
        }

        .user-greet-container {
            width: 100%;
            height: 120px;
            background: var(--primary-blue);
            margin-bottom: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 18px 22px;
            padding-bottom: 0;
            
            p {
                color: var(--white);
                font-weight: 700;
            }

            .greet-mobile {
                font-size: 30px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                text-align: left;
                height: fit-content;
            }
        }
    }

    .profile-right-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .profile-details-section {
            width: 66%;
            height: fit-content;
            border: 1px solid var(--gray-shade-border);
            padding: 12px 24px;

            .heading-sec {
                font-size: 32px;
                font-weight: 600;
                text-align: left;
                height: 62px;
                border-bottom: 1px solid var(--gray-shade-border);
                margin-bottom: 32px;
            }

            .profile-details {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 3rem;

                .profile-details-key-item-container {
                    width: fit-content;
                    height: fit-content;
                    padding: 18px 24px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;

                    .profile-details-key-item {
                        font-size: 18px;
                        font-weight: 600;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        min-width: fit-content;
                    }
                }

                .profile-details-key-value-container {
                    width: fit-content;
                    height: fit-content;
                    padding: 18px 24px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;

                    .profile-details-key-value {
                        font-size: 18px;
                        font-weight: 300;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        min-width: fit-content;
                    }
                }
            }

            .profile-edit-btn {
                width: 100%;
                height: 50px;
                background: var(--primary-blue);
                color: var(--white);
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .editdetails-container {
                display: flex;
                flex-direction: column;
                row-gap: 24px;

                .edit-details-item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0;

                    label {
                        font-size: 16px;
                        text-align: left;
                        font-weight: 600;
                    }

                    input {
                        width: 100%;
                        height: 50px;
                        border: 1px solid var(--gray-shade-border);
                        outline: none;
                        background: var(--white);
                        padding: 0 24px;
                    }

                    .gender-type {
                        width: fit-content;
                        height: fit-content;
                        font-size: 16px;
                        padding: 14px 25px;
                        border: 1px solid var(--gray-shade-border);
                        margin-right: 12px;
                        cursor: pointer;
                    }
                }
            }

            .edit-profile-done {
                width: 100%;
                height: 50px;
                background: var(--primary-blue);
                color: var(--white);
                font-size: 16px;
                font-weight: 600;
                outline: none;
                border: none;
            }
        }
    }
}

@media (max-width:768px) {
    .login-main-container {
        height: fit-content;

        .login-main-image {
            height: 250px;
        }
    }
}