.content-manager-container {
  .sidebar-menu-container {
    width: 100%;
    height: fit-content;

    .sidebar-items-container {
      width: 100%;
      height: fit-content;
      border: 1px solid var(--border);
      background: var(--white);
    }
  }

  .content-container {
    width: 100%;
    height: fit-content;

    .content-data-container {
      width: 100%;
      height: fit-content;
      border: 1px solid var(--border);
      background: var(--white);
      padding: 2%;
    }
  }
}
